
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreatePerson</title>
</head>
<body>
    <form method="post">
        <input type="text" name="Name" />
        <input type="text" name="Surname" />
        <input type="text" name="Age" />
        <input type="submit" />
    </form>
    
</body>
</html>
