
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get Person</title>
</head>
<body>
    <dl>
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Surname</dt>
        <dd>@Model.Surname</dd>

        <dt>Age</dt>
        <dd>@Model.Age</dd>
    </dl>
</body>
</html>
